/* Import a futuristic Google Font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0b16;
    color: #fff;
}

header {
    background-color: #1f1b24;
    color: #fff;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 1rem;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.logo:hover {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav {
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    font-weight: 700;
}

nav ul li a:hover {
    border: 2px solid #e94560;
    border-radius: 5px;
    background-color: #e94560;
    color: #0e0b16;
}

.hero, .about, .projects, .contact {
    padding: 3rem 1rem;
    text-align: center;
    background: linear-gradient(135deg, #1f1b24 0%, #0e0b16 100%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    margin: 2rem 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.hero:hover, .about:hover, .projects:hover, .contact:hover {
    transform: translateY(-10px);
}

.hero h1, .about h1, .projects h1, .contact h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #e94560;
    text-shadow: 0 0 10px rgba(233, 69, 96, 0.7);
}

.profile-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.profile-picture:hover {
    transform: scale(1.2);
}

.course-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.course-picture {
    width: 150px;
    height: 150px;
    transition: transform 0.5s ease;
}

.course-picture:hover {
    transform: rotate(360deg);
}

.map-container, .video-container {
    margin: 2rem 0;
}

.social-container {
    margin: 2rem 0;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.social-icon:hover {
    animation: spin 1s infinite linear;
}

footer {
    background-color: #1f1b24;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}

footer p {
    margin: 0;
    font-size: 0.9rem;
    color: #e94560;
}